.selected-country {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;

  font-size: 20px;
  margin: 30px 30px;
}
img {
  height: 300px;
  margin: 0;
  width: 50%;
  overflow: hidden;
}

.country-info {
  display: flex;
  flex-direction: row;
}

.country-basic-info {
  display: flex;
  flex-direction: column;
}
